<h1>Seja Bem-Vindo, <%= @meu_nome %>.</h1>
<p><strong>Data: </strong> <%= data_br(Date.today) %></p>
<ul>
    <li>
        <%= link_to "Cadastro de Moedas", coins_path %> <!-- PARA SABER AS ROTAS DISPONÍVEIS, ACESSE A ROTA localhost:3000/rails/info/routes. DESTA FORMA VOCÊ VERÁ OS helpers INDICANDO AS ROTAS EXISTENTES. -->
    </li>
</ul>

<p>
    Você está em ambiente de "<strong><%= ambiente_rails %>"</strong>
</p>
<p>
    Estou estudando um curso de <strong><%= @meu_curso %></strong>
</p>